* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans',  sans-serif;
}

.navbar {
    background: #131313;
    height:  80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin:  0 auto;
    padding:  0 50px;
}

#navbar__logo{
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;

}

.logo img{
    margin-right: 0.5rem;
    

}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item{
    height: 80px;
}

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover {
    color: #f77062;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display:flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width:100% ;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 5px;
    }
    
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;       
    }

    .navbar__item{
        width: 100%;

    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5% , 20%);
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    
}

/* Hero Section CSS */
.main  {
    background-color: #141414;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto ;
    height: 90vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1000px;
    padding: 0 0px;

}
.main__content h1 {
    font-size: 5rem;
    color: #fff;
}
.main__content h2 {
    font-size: 1.5rem;
    color: #f77062;
    padding: 10px 0px;
    
}
.main__content p1 {
    font-size: 2 rem;
    margin-top: 1rem;
    font-weight: 700;
    color: #fff;

}
.main__content a {
    font-size: 2 rem;
    margin-top: 1rem;
    font-weight: 700;
    color: #fff;
}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top,#f77062 0% ,#fe5196 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 1rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;  
}

.main__btn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
    
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    /* background: #4837ff; 
    transition: all 0.35s; */
    border-radius: 4px;
   

}

.main__btn:hover{
    color: #fff;
    background: #4837ff; 

}
.main__btn:hover:after{
    width: 100%;
}
.main__img--container {
    max-width: 1200px;
    margin: auto;
}
#main__img {
    width: 100%;
}

/* Mobile Responsive - Hero Section */

@media screen and (max-width:768px) {
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        max-width: 100%;
        margin: 0 auto;
        height: 155vh;

    }
    .main__content{
        text-align: center;
        margin-bottom: 4rem;
    }
    
    .main__content h1{
        font-size: 2.5rem;
        margin-top: 2rem;
        
    }

    .main__content h2{
        font-size: 3rem;
    }
    .main__content p1{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width:480px) {
    .main__content h1{
        font-size: 2rem;
        margin-top: 3rem;
        
    }

    .main__content h2{
        font-size: 2rem;
    }
    .main__content p1{
        margin-top: 3rem;
        font-size: 1.5rem;
    }

    .main__btn{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/* About Section CSS*/

.about{
    background-color: #141414;
    
}


.about h1 {
    background-color: #ff8177;
    background-image: linear-gradient(to right, 
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%);
    background-size: 100%;
    margin-bottom: 0rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: center;
    padding-top: 80px;
}



.about__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto ;
    height: 80vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1000px;
    padding: 0 0px;
}

.about__container p{
    font-size: 2 rem;
    margin-top: 1rem;
    font-weight: 700;
    color: #fff;
}

.about__container profile__img {
    max-width: 500px;
    text-align: center;
    z-index: 1;
    
}

.profile__img:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

#pfp__img{
    width: 50%;
    display: block;
    margin: 0 auto;
    /* border: 2px solid #f77062; */
    z-index: 3;
    box-shadow:  -20px 20px 0 2px #ff6857;
}

.profile__img{
    position: relative;
    
}

/* Projects Section */

.projects{
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*height: 100vh;*/
}

.projects h1 {
    background-color: #ff8177;
    background-image: linear-gradient(to right, 
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 41%,
    #f99185 72%,
    #cf556c 98%,
    #b12a5b 100%);
    background-size: 100%;
    margin-bottom: 0rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: center;
    padding-top: 80px;
}

.projects__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects__card{
    margin: 2rem;
    height: 500px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom,
    rgba(0,0,0,0) 0%,
     rgba(17,17,17,0.6) 100%)
    ,url('/images/pexels-pixabay-270348.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
    
}


.projects__card.card2 {
    background-image: linear-gradient(to bottom,
    rgba(0,0,0,0) 0%,
    rgba(17,17,17,0.6) 100% ), url('/images/designer.png') ;
    
}

/* .projects__card:nth-child(2) {
    background-image: linear-gradient(to bottom,
    rgba(0,0,0,0) 0%,
    rgba(17,17,17,0.6) 100% ), url('/images/designer.png') ;
    
} */
    

.projects__card h2 {
    position: relative;
    top: 400px;
    text-align: center;
}

.projects__card:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-wdith: 960px){
    .projects{
        height: 1600px;
    }

    .projects h1{
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and(max-width:480px) {
    .projects{
        height: 1400px;

    }
    .projects h1 {
        font-size: 1.2rem;
    }

    .projects__card
    {
        width: 300px; 
    }
}

/* Contact Section */

.contact {
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

.contact h1{
    background-color: #ff8177;
    background-image: linear-gradient(to right, 
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 41%,
    #f99185 72%,
    #cf556c 98%,
    #b12a5b 100%);
    background-size: 100%;
    margin-bottom: 0rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: center;
    padding-top: 80px;
}

.contact h2{
    font-size: 2.5rem;
    color: #fff;
    padding-top: 7rem;
}

.contact__containter{
    max-width: 900px;
    text-align: center;
    z-index: 1;
}

.contact__containter p {
    font-size: 2 rem;
    margin-top: 1rem;
    font-weight: 500;
    color: #fff;
    padding-top: 1rem;
}

.contact__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top,#f77062 0% ,#fe5196 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 1rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;  
}

.contact__btn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}
.contact__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;

}

.contact__btn:hover{
    color: #fff;
}
.contact__btn:hover:after{
    width: 100%;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
  
.hidden {
    display: none;
}
  
.popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
}

.popup__content p2 {
    font-size: 0.6rem;
    font-weight: 200;
    color: rgb(133, 133, 133);
    margin: auto;
}

#close-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer */

.footer{
    background: #141414;
    display: flex;
    text-align: center;
    
    /* display: inline-block; */
}

.footer p{
    font-size: 0.8rem;
    font-weight: 200;
    color: rgb(133, 133, 133);
    margin: auto;
    
    
}

/* developer projects css */

.temp__img--container {
    max-width: 1200px;
    margin: auto;
}
#temp__img {
    width: 100%;
}